.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class

# BEFTA temp locations
target/
definition_files/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

/BEFTA Report for Smoke Tests/
/BEFTA Report for Functional Tests/
/aca-docker/mocks/wiremock/__files/prd_users.json
/aca-docker/mocks/wiremock/__files/prd_users_Org-Two.json
/bin/
