java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    aac:
      secrets:
        - aac-manage-case-s2s-secret
        - idam-mca-client-secret
        - idam-mca-system-user-username
        - idam-mca-system-user-password
        - idam-noc-approver-username
        - idam-noc-approver-password
        - notify-mca-api-key-secret
  environment:
    S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    CCD_DATA_STORE_API_BASE_URL: http://ccd-data-store-api-pr-1916.service.core-compute-preview.internal
    CCD_DEFINITION_STORE_API_BASE_URL: http://ccd-definition-store-api-pr-1194.service.core-compute-preview.internal
    ROLE_ASSIGNMENT_URL: http://am-role-assignment-service-pr-929.service.core-compute-preview.internal
